.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form,
.listDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3vh;
}

.form input {
  width: 25vw;
  height: 5vh;
  font-size: 16px;
  padding-left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.form .inputImg {
  border: none;
padding-left: 5vw;
}

.listDiv input {
  width: 48.5vw;
  height: 5vh;
  font-size: 16px;
  padding-left: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vh;
}

.form label {
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.form button {
  margin-top: 2vh;
  width: 26.5vw;
  height: 5vh;
  font-size: 16px;
}

.oneContact {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 15px;
  width: 66vw;
  margin: auto;
  margin-top: 3vh;
}

.oneContact p {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 2vw;
}

.oneContactBtn {
  display: flex;
  flex-direction: column;  
  margin:auto;
}

.oneContactEdit {
  display: flex;
  flex-direction: column;  
  margin-right:2vw;
  margin-top: 3vh;
  
}

.oneContactEdit button {
  margin-top: 1vh;
}

.oneContactEdit input {
  margin-top: 3.5vh;
  width: 15vw;
}

